@use "sass:color";
* {
  box-sizing: border-box;
}

:focus {
  outline: 1px solid hsl(240, 1%, 27%);
}

html {
  --raleway: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1352px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  height: 70px;
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.5s;
}

.header.sticky {
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgb(191, 186, 186);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  color: hsla(197, 93%, 46%, 1);
  font-size: 32px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
}

.header__nav-list a {
  color: hsla(0, 0%, 44%, 1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  padding: 28px 40px 22px;
  transition: 0.2s;
}

.header__nav-list a:hover,
.header__nav-list.show a:hover {
  color: hsla(0, 0%, 0%, 1);
}

.header__text a:hover {
  border-bottom: 4px solid hsl(197, 93%, 46%);
}
.page-nav-toogle {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  flex-direction: column;

  display: none;

  strong {
    display: none;
  }

  span {
    width: 25px;
    height: 3px;
    border-radius: 4px;
    background: #08a5e2;
    margin: 2px;
    display: block;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__container {
  margin-top: 130px;
  text-align: center;
  width: 100%;
}

.weclome__title {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 49px;
  margin-top: 50px;
}

.weclome__text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 60px;
}

.welcome__btn {
  width: 440px;
  height: 67px;
  background: hsla(197, 93%, 46%, 1);
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  opacity: 1;
  margin-top: 38px;
  padding: 22px 157px;
  font-weight: bold;
  color: hsla(0, 0%, 100%, 1);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 120px;
}

.description__title {
  text-align: center;
  font-family: var(--raleway);
  font-weight: normal;
  font-size: 36px;
  flex-wrap: wrap;

}

.description__container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.description__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
  background-color: hsla(347, 96%, 61%, 1);
}

.description__article:nth-child(1) .description__img {
  top: 5px;
  right: -14px;
}

.description__article:nth-child(2) .circle {
  background-color: hsla(197, 93%, 46%, 1);
}

.description__article:nth-child(2) .description__img {
  top: 15px;
  right: -19px;
}

.description__article:nth-child(3) .circle {
  background-color: hsla(161, 68%, 60%, 1);
}

.description__article:nth-child(3) .description__img {
  top: 6px;
  right: -20px;
}

.description__img {
  position: absolute;
}

.description__number {
  margin-top: 14px;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: 800;
  color: hsla(0, 0%, 0%, 1);
}

.description__text {
  text-align: center;
  margin-top: 19px;
  font-family: var(--raleway);
  font-size: 17px;
  font-weight: normal;
  color: hsla(0, 0%, 65%, 1);
}

.benefits {
  background: hsla(0, 0%, 97%, 1);
  padding-top: 100px;
  padding-bottom: 100px;
}

.benefits .container {
  padding: 0 100px;
}

.benefits__article {
  background-color: white;
  border: 1px solid hsla(228, 12%, 92%, 1);
  border-radius: 5px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.benefits__text {
  max-width: 416px;
  margin-top: 90px;
  margin-left: 36px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.benefits__text:after {
  content: "";
  width: 327px;
  height: 4px;
  background-color: hsla(347, 96%, 61%, 1);
  display: block;
  margin-bottom: 90px;
}

.benefits__title {
  font-family: var(--raleway);
  font-weight: normal;
  font-size: 36px;
  color: hsla(0, 0%, 0%, 1);
}

.benefits__description {
  margin-top: 30px;
  color: hsla(0, 0%, 0%, 1);
  margin-bottom: 50px;
}

.benefits__article:nth-child(2) .benefits__text:after {
  background-color: hsla(197, 93%, 46%, 1);
}

.benefits__cut .benefits__text:after {
  background-color: hsla(161, 68%, 60%, 1);
}

.benefits__img-macbook {
  margin-bottom: 38px;
  margin-right: 117px;
  width: 386px;
}

.benefits__image {
  position: relative;
}

.benefits__img-macbook {
  position: relative;
  z-index: 2;
}

.benefits__laptop .benefits__image::before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: hsla(347, 96%, 61%, 1);
  display: block;
  border-radius: 41px;
  position: absolute;
  top: -49px;
  right: 93px;
  transform: rotate(45deg);
}

.benefits__phone .benefits__title {
  margin-right: 100px;
}

.benefits__phone {
  flex-direction: row-reverse;

}

.benefits__img-iphone {
  position: relative;
  z-index: 2;
  width: 426px;
  margin-left: 70px;
  margin-bottom: 15px;
}

.benefits__phone .benefits__image::before {
  content: "";
  width: 280px;
  height: 280px;
  background-color: hsla(196, 94%, 46%, 1);
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -21px;
  right: 150px;
}

.benefits__img-trumpet {
  width: 295px;
  margin: auto;
}

.benefits__cut {
  display: flex;
}

.benefits__trumpet {
  width: 623px;
  height: 370px;
}

.benefits__cut .benefits__image {
  margin-left: 60px;
  width: 440px;
  height: 370px;
  background: hsla(161, 68%, 60%, 1);
  border: 1px solid hsla(228, 12%, 92%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.prices .container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prices__box {
  gap: 58px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices__article {
  background: hsla(0, 0%, 100%, 1);
  border: 1px solid hsla(347, 96%, 61%, 1);
  border-radius: 18px;
  width: 372px;
  text-align: center;
  position: relative;
  padding-bottom: 81px;
  margin-bottom: 200px;
}

.prices__title {
  font-size: 37px;
  font-family: var(--raleway);
  font-weight: normal;
}

.tariff__type {
  margin-top: 34px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 20px;
  color: hsla(213, 51%, 15%, 1);
  font-family: var(--raleway);
}

.prices__box .prices__article:nth-child(2) {
  border: 1px solid hsla(196, 94%, 46%, 1);
  height: 500px;
  box-shadow: 5px 10px 27px hsla(196, 94%, 46%, 0.16);
}

.prices__box .prices__article:nth-child(2) .prices__items {
  margin-bottom: 30px;
}

.prices__box .prices__article:nth-child(3) {
  border: 1px solid hsla(161, 68%, 60%, 1);
}

.prices__box .prices__article:nth-child(1) .tariff__price {
  color: hsla(347, 96%, 61%, 1);
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 69px;

}

.prices__box .prices__article:nth-child(2) .tariff__price {
  color: hsla(196, 94%, 46%, 1);
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 5px;
}

.prices__box .prices__article:nth-child(3) .tariff__price {
  color: hsla(161, 68%, 60%, 1);
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 5px;
}

.tariff__limited {
  margin-bottom: 61px;
  color: hsla(213, 51%, 15%, 1);
  font-size: 12px;
  font-weight: bold;
}

.prices__article-list {
  list-style-type: none;
}

.prices__items {
  font-size: 14px;
  margin-bottom: 20px;
}

.prices__items::before {
  content: "";
  background: url("../assets/ckechmark-1.svg");
  /*background: #3ac569;*/
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
}

.not_prices__items::before {
  content: "";
  background: url("../assets/close.svg");
  /*background: #d02222;*/
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
}

.prices__btn {
  color: white;
  position: absolute;
  width: 150px;
  height: 50px;
  padding: 16px 57px;
  background: hsla(346, 80%, 60%, 1);
  border-radius: 23px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.prices__box .prices__article:nth-child(2) .prices__btn {
  background: hsla(196, 94%, 46%, 1);
  box-shadow: 5px 10px 14px hsla(196, 94%, 46%, 0.16);
}

.prices__box .prices__article:nth-child(3) .prices__btn {
  background: hsla(161, 68%, 60%, 1);
}

.contact .container {
  width: 900px;
  display: flex;
}

.contact__title {
  margin-right: 97px;
  font-family: var(--raleway);
  font-weight: normal;
  font-size: 49px;
  color: hsla(0, 0%, 0%, 1);
  margin-bottom: 22px;
  margin-top: 0;
}

.contact__info-text {
  margin-bottom: 42px;
}

.contact__info-contact {
  display: flex;
  margin-bottom: 210px;
  color: hsla(0, 0%, 44%, 1);
}

.contact__email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__email::before {
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../assets/mail_icon.svg");
  display: inline-block;
  margin-right: 5px;
}

.contact__phone::before {
  margin-left: 20px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../assets/phone_icon.svg");
  display: inline-block;
  margin-right: 5px;
}

.contact__form {
  width: 440px;
}

.form__row {
  margin-bottom: 30px;
}

.form__label {
  font-size: 11px;
  font-weight: bold;
  color: hsla(197, 93%, 46%, 1);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.form input {
  width: 100%;
  height: 57px;
  border: none;
  border-bottom: 1px solid hsla(204, 2%, 59%, 1);
}

.form .checkbox {
  margin-top: 30px;
  color: hsla(0, 0%, 44%, 1);
  display: flex;
  font-size: 12px;
}

.form .checkbox__input {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid hsla(204, 2%, 59%, 1);
  border-radius: 8px;
  margin-right: 10px;
  flex-shrink: 0;
}

.form .checkbox__input:checked {
  background: url("../assets/checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__btn {
  border: none;
  width: 226px;
  height: 57px;
  background: hsla(197, 93%, 46%, 1);
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 35px;
  color: white;
  margin-left: 213px;
}

.form__row-last {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  margin-top: 60px;
  height: 90px;
  background: hsla(0, 0%, 97%, 1);
  box-shadow: 0 -5px 40px hsla(0, 0%, 0%, 0.16);
}

.footer .container {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo .header__logo {
  font-size: 26px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.copyright {
  font-size: 11px;
  color: hsla(0, 0%, 65%, 1);
}

.footer__social {
  margin-top: 35px;
  margin-bottom: 30px;
}
.footer__social a {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

@media (max-width: 1050px){
  .benefits__article {
    flex-direction: column-reverse;
    align-items: center;
  }
  .benefits__image {
    margin-top: 100px;
  }
  .benefits__laptop .benefits__image::before {
    top: -42px;
    right: -4px;
  }

  .benefits__img-macbook {
    margin: auto;
  }
  .benefits__text {
    margin-top: 10px;
    margin-left: 0;
  }
  .benefits__phone {
    .benefits__title {
      align-items: center;
      margin: 0;
    }
  }

}
@media (max-width: 670px){
  .header__nav-list a {
    padding: 20px 20px 20px;
  }
}

@media (max-width: 510px){
  .header__logo {
    font-size: 20px;
  }
  .header__nav-list a {
    padding: 20px 5px 20px;
  }

  .welcome__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .weclome__text {
      margin-left: 35px;
      margin-right: 30px;
      flex-wrap: wrap;
    }
    .welcome__btn {
      width: 310px;
      padding: 22px 90px;
      margin-bottom: 50px;
      margin-top: 0;
      align-self: center;
    }
  }
  .welcome__image {
    object-fit: fill;
  }

  .description__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .description__article {
      margin: 20px;
    }
  }

  .benefits {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      .benefits__article {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
      .benefits__title {
        font-size: 30px;
        text-align: left;
      }
        .benefits__description {
          font-size: 14px;
          text-align: left;
        }
      }
      .benefits__text {
        margin: 0;
      }
      .benefits__text::after {
        display: none;
      }
      .benefits__cut {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .benefits__img-macbook {
      width: 190px;
      height: 110px;
      margin: 40px 0 0;
    }
    .benefits__img-iphone {
      width: 175px;
      height: 130px;
    }
    .benefits__laptop .benefits__image::before {
      width: 90px;
      height: 90px;
      right: -10px;
      top: -30px;
    }
    .benefits__phone .benefits__image::before {
      width: 130px;
      height: 130px;
      top: -21px;
      right: 150px;
    }
  }
}

@media (max-width: 375px){
  .header__logo {
    margin-left: 25px;
    font-size: 30px;
  }
  .header__nav {
    .header__nav-list {
      position: fixed;
      left: -100%;
      top: 70px;
      background: color.scale(white);
      margin: 0;
      flex-direction: column;
      height: 175px;
      width: 100%;
      padding: 20px;
      transition: 0.5s;
      box-shadow: 0 3px 6px #00000029;

      display: flex;
      justify-content: flex-start;

      a {
        padding: 5px;
      }

    }

    .header__text {
      margin-bottom: 15px;

      a {
        font-size: 14px;
        color: #A5A5A5;
        font-family: "Open Sans",sans-serif;
      }
      a:hover {
        border-bottom: none;
      }
    }

    .header__nav-list.show {
      left: 0;
    }

    .page-nav-toogle {
      display: flex;
      z-index: 2;
    }
  }
}
